<%- include('layout/header') %>
<header>
  <nav>
    <ul>
      <li><a href="/recruiter/home">Home</a></li>
      <li><a href="/recruiter/add-company">Add Company</a></li>
      <li><a href="/recruiter/add-job">Add Job</a></li>
    </ul>
  </nav>
</header>
<h1>Welcome to the Recruiter Dashboard</h1>
<p>Manage your job postings and companies easily.</p>

<ul>
  <li><a href="/recruiter/add-company">Add a New Company</a></li>
  <li><a href="/recruiter/add-job">Add a New Job</a></li>
</ul>
<%- include('layout/footer') %>
