<%- include('layout/header.ejs') %>
  <div class="bodywala">
    <div class="login-container">
      <div class="login-left">
        <div class="login-heading">
          <h1 class="main-heading">Go<span style="color:#FFD700">Hire</span></h1>
          <p class="sub-heading" style="color:black;">Get Yourself Hired</p>
        </div>
      </div>
      <div class="login-right">
        <h2 class="login-title">Log in</h2>
        <div class="toggle-buttons">
          <button class="toggle-btn" id="recruiter-btn">As Recruiter</button>
          <button class="toggle-btn active" id="candidate-btn">As Candidate</button>
        </div>
        <div class="social-login">
          <button class="google-login">Continue with Google</button>
        </div>
        <p class="divider">Or login with email</p>
        <form class="login-form" action="/auth/login" method="POST">
          <input type="email" id="email" name="email" class="input-field" placeholder="Email Id" required>
          <input type="password" id="password" name="password" class="input-field" placeholder="Enter Your Password"
            required>
          <a href="#" class="forgot-password">Forgot password?</a>
          <button type="submit" class="login-button">Login</button>
        </form>
        <p class="signup-text">Don't have an account? <a href="/signup">Sign up</a></p>
      </div>
    </div>
  </div>

  </body>
  <script>
    document.getElementById('recruiter-btn').addEventListener('click', function () {
      this.classList.add('active');
      document.getElementById('candidate-btn').classList.remove('active');
    });

    document.getElementById('candidate-btn').addEventListener('click', function () {
      this.classList.add('active');
      document.getElementById('recruiter-btn').classList.remove('active');
    });

  </script>

  </html>